.env
mall_request.xml
__pycache__
venv
.DS_Store

*.xlsx
*.xml
*.log
*.json
/files

*/__pycache__/*

/logs/*

!files/xml/templates/*
!templates/*

# Alembic cache/pycache
alembic/__pycache__/
alembic/*.pyc
alembic/*.pyo
alembic/*.pyd

# (필요하다면) 환경별 alembic.ini
# alembic.ini